/* ---------------------------------------- */

.block {
    padding: 10px 0px 40px 0px;
}

.loading {
    display: flex;
    justify-content: center;
}

.loading .panel {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .dot1 {
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    animation: dot 1s ease 0000ms infinite alternate;
}

.loading .dot2 {
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    animation: dot 1s ease 0333ms infinite alternate;
}

.loading .dot3 {
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    animation: dot 1s ease 0667ms infinite alternate;
}

@keyframes dot {
	0% {
        background-color: #333;
    }
	100% {
        background-color: #FFF;
    }
}

/* ---------------------------------------- */

.navTop {
    padding: 70px 0px 0px 0px
}

.navLeft {
    padding: 70px 0px 0px 0px
}

/* ---------------------------------------- */

.crawlProgress {
}

.crawlProgress .panel {
    display: flex;
}

.crawlProgress .left {
    display: flex;
    flex: auto;
}

.crawlProgress .right {
    display: flex;
    justify-content: flex-end;
}

.crawlBtn {
    display: flex;
    justify-content: flex-end;
}

/* ---------------------------------------- */

.userPage {
}

.userPage .lot {
    padding: 10px 0px 10px 0px;
}

.userPage .lot .header {
    font-size: 24px;
}

.userPage .lot .header2 {
    font-size: 20px;
}

.userPage .line {
    height: 1px;
    border: none;
    border-top: 1px #f3f3f3 solid;
}

.userPager {
    display: flex;
    justify-content: center;
    padding: 5px 0px 20px 0px;
}

.userPager .item {
    text-align: center;
    width: 60px; 
}

/* ---------------------------------------- */
